.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .song-cover {
    width: 20%;
    &_image {
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }

  h2 {
    padding: 3rem 1rem 1rem;
  }

  h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .song-container .song-cover {
    width: 60%;
  }
}
