@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  touch-action: none;
}

body.dark {
  background-color: $black;
}

.App {
  transition: all 0.5s ease;
  min-height: 100vh;

  &.library-opened {
    margin-left: 20%;
  }

  h1,
  h2 {
    color: $black;
  }
  h3,
  h4 {
    font-weight: 400;
    color: rgb(100, 100, 100);
  }

  &.dark {
    background-color: $black;
    color: $white;
    h1,
    h2 {
      color: $white;
    }
    h3,
    h4 {
      color: rgb(200, 200, 200);
    }
  }
}

@import './nav';
@import './player';
@import './song';
@import './library';
@import './color-theme';
